body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	margin: 0;
}

#app-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#app-main {
	flex: 1;
  display: flex;
}

#app-sidebar {
	flex-basis: 25%;
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-direction: column;
	border-right: solid 1px #FFF;
}

#app-main-wrap {
	flex-basis: 75%;
	flex-shrink: 1;
}

#app-body {
	height: calc(100vh - 10rem);
	overflow: auto;
}

.font-xl {
	font-size: 1.5rem;
}

.bg-black {
	background-color: #000;
}

.text-white {
	color: #FFF;
}

.clickable {
	cursor: pointer;
}

.flex {
	display: flex;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
	color: #FFF;
	padding: 3rem;

}

.modal-container {
	padding: 1.5rem;
	border-radius: 1rem;
}

.modal header {
	font-size: 1.1rem;
	font-weight: 600;
}

.min-w-20 {
	min-width: 20rem;
}

.p-1 {
	padding: 1rem;
}

.bg-gray-800 {
	background-color: #111827;
}

.list-none {
	list-style: none;
}

.p-0 {
	padding: 0;
}

.m-0 {
	margin: 0;
}

.font-lg {
	font-size: 1.25rem;
}

.font-semibold {
	font-weight: 600;
}

.py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.px-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.app-logo {
	margin: 0 0 0 0;
}

.wpa-logo svg {
	max-width: 100%;
}

footer .wpa-logo svg {
	max-width: 8rem;
}

#app-header {
	padding: 0.5rem 1rem;
	box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.2);
}

#app-menu-main {
	margin-top: 0.5rem;
	font-family: "Inter", sans-serif;
}

#app-menu-main li {
	border-radius: 0.5rem;
	color: #79808D;
	font-size: 1.05rem;
}

#app-menu-main li a {
	color: #79808D;
}

#app-menu-main li:hover {
	background-color: #1F2937;
	color: #FFF;
}

.items-center {
	align-items: center;
}

#app-footer {
	height: 3rem;
	margin: auto 0 0 0;
	padding: 0.5rem;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #FFF;
}

#app-footer .app-logo svg {
	width: 32px;
	height: 32px;
}

button {
	background-color: var(--primary-color);
	color: #FFF;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	font-family: "Inter", sans-serif;
	border-radius: 0.5rem;
}

.gap-1 {
	gap: 1rem;
}

/* Form & Fields */

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 1rem 0;
	padding: 1.25rem 1.75rem;
	border-radius: 0.25rem;
	min-width: 10rem;
}

select {
	min-width: 10rem;
	max-width: 21.2rem;
	width: 100%;
	padding: 0.4rem 0.6rem;
	border: solid 1px #FFF;
	border-radius: 0.25rem;
	margin: 0.5rem 0;
	font-size: 0.9rem;
}

input {
	min-width: 10rem;
	max-width: 20rem;
	width: 100%;
	border: solid 1px #FFF;
	background-color: #FFF;
	padding: 0.4rem 0.6rem;
	font-size: 0.9rem;
	border-radius: 0.25rem;
	margin: 0.5rem 0;
}

textarea {
	min-width: 10rem;
	max-width: 20rem;
	padding: 0.4rem 0.6rem;
	font-size: 0.9rem;
	border-radius: 0.25rem;
	margin: 0.5rem 0;
	font-family: "Inter", sans-serif;
}

input,
textarea {
	color: #000;
}

.mr-0\.125 {
	margin-right: 0.125rem;
}

.w-full {
	width: 100%;
}

input[type=submit] {
	cursor: pointer;
	background-color: #1F2937;
	color: #FFF;
	border: solid 1px #fff;
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 0.5rem;
}

input[type=submit]:hover {
	opacity: 0.7;
}

.app-brand {
	border-bottom: solid 1px #1F2937;
	padding-bottom: 0.5rem;
}

.px-0\.5 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.grid {
	display: grid;
}

#model-list li {
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	align-items: center;
	font-size: 0.90rem;
	font-weight: 400;
	border-bottom: solid 1px #1F2937;
}

#model-list li h3 {
	font-size: 0.95rem;
	font-weight: 500;
}

#model-list button {
	font-size: 0.80rem;
	font-weight: 400;
}

#app-footer {
	background-color: var(--primary-color);
}

.menu-item-active {
	background: #FFF;
}

#model-list-container {
	margin: 1.5rem 0 0 0;
}
